// header menu
header {
  padding-top: 30px;
  background: #32bfec;
  font-size: 16px;

  nav {
    ul {
      padding: 20px 0;
      display: flex;
      justify-content: space-around;
      color: #ffffff;
    }
  }
}

// contents
#guestInfoRegistration {
  margin: 0 auto;

  .guestInfo {
    &_title {
      width: fit-content;
      margin: 20px auto 30px auto;
      font-size: 18px;

      p {
        text-align: center;
      }
    }
  }

  button {
    border: none;
    background: none;
  }

  .radioWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    input {
      display: none;
    }

    input[type="radio"]:checked + label {
      background: #32bfec;
    }

    label {
      display: block;
      cursor: pointer;
      border: solid 1px #898989;
      border-radius: 10px;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
      text-align: center;

      &.few_radio {
        width: 60%;
        padding: 35px 0;
        margin: 20px auto;
      }

      &.many_radio {
        width: 48%;
        padding: 20px 0;
        margin-bottom: 18px;
      }

    }
  }

  .personal_info_term {
    .scrollWrap {
      width: 80%;
      margin: 0 auto;
      border: solid 1px #afafaf;
      height: 500px;
      overflow: scroll;

      .content {
        height: 2000px;
      }
    }
  }

  .profileWrap {
    width: 90%;
    margin: 0 auto;

    fieldset {
      border-top: solid 1px #bebebe;
      padding-top: 20px;

      legend {
        font-size: 25px;
        width: 23%;
        margin-right: 30px;
        text-align: right;
      }

      .profile_item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto 20px auto;

        &.occupation {
          align-items: flex-start;

          .profile_radio {
            margin-bottom: 10px;
          }
        }

        &-right {
          width: 52%;

          .profile_birthday {
            &_year {
              width: 150px;
            }

            &_month, &_day {
              width: 100px;
            }
          }

          .prefecture {
            width: 200px;
          }

          input[type="radio"] {
            display: none;
          }

          .profile_radio {
            font-size: 18px;
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            padding: 5px 30px;
            position: relative;
            width: auto;

            input {
              display: none;
            }
          }

          .profile_radio::before {
            background: #fff;
            border: 1px solid #183c30;
            border-radius: 50%;
            content: '';
            display: block;
            height: 16px;
            left: 5px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            width: 16px;
          }

          .profile_radio::after {
            background: #32bfec;
            border-radius: 50%;
            content: '';
            display: block;
            height: 10px;
            left: 9px;
            margin-top: -4px;
            opacity: 0;
            position: absolute;
            top: 50%;
            width: 10px;
          }

          input[type="radio"]:checked + .profile_radio::after {
            opacity: 1;
          }

          input[type="radio"], input[type="checkbox"] {
            position: relative;
            top: 2px;
          }

          input[type="text"], input[type="email"], input[type="tel"], select {
            margin-right: 20px;
            border-radius: 3px;
            border: solid 1px #a8a8a8;
            box-shadow: inset 1px 4px 9px -6px rgb(0 0 0 / 50%);
            height: 38px;
          }
        }
      }
    }
  }

  .deal {
    text-align: center;

    h2 {
      background: #f1f1f1;
      padding: 30px;
      text-align: center;
    }

    legend {
      padding: 20px;
      font-size: 25px;
    }

    fieldset {
      width: 90%;
      margin: 0 auto 60px;
      display: flex;

      div {
        position: relative;
        flex: 1;
        border: 1px solid #b6b6b6;

        input {
          width: 100%;
          height: 60px;
          opacity: 0;
        }

        label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: none;
          background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(209, 209, 209, 1));
        }

        div:last-child label {
          border-right: 0;
        }

        input:checked + label {
          background: #32bfec;
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
  }

  .terms_of_service {
    section {
      background: #efefef;
      width: 85%;
      margin: 25px auto;
      padding-bottom: 20px;

      h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        padding: 25px;
      }

      fieldset {
        width: 500px;
        margin: 0 auto 10px;

        input[type="checkbox"], input[type="radio"] {
          display: none;
        }

        label {
          font-size: 18px;
          box-sizing: border-box;
          cursor: pointer;
          display: inline-block;
          padding: 5px 30px;
          position: relative;
          width: auto;
        }

        label::before {
          background: #fff;
          border: 1px solid #183c30;
          content: '';
          display: block;
          height: 16px;
          left: 5px;
          margin-top: -8px;
          position: absolute;
          top: 50%;
          width: 16px;
        }

        label::after {
          background: #32bfec;
          content: '';
          display: block;
          height: 10px;
          left: 9px;
          margin-top: -4px;
          opacity: 0;
          position: absolute;
          top: 50%;
          width: 10px;
        }

        input[type="radio"] + label::before, input[type="radio"] + label::after {
          border-radius: 50%;
        }

        input[type="radio"]:checked + label::after, input[type="checkbox"]:checked + label::after {
          opacity: 1;
        }
      }
    }
  }

  .signature {
    #signature_canvas {
      border: 1px solid #ccc;
      max-width: 100%;
      width: 100%;
    }
  }

  .footerMenu {
    border-top: solid 1px #cacaca;
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;

    &_center {
      margin: 0 auto;

      button, input[type="submit"] {
        background-image: linear-gradient(180deg, rgb(124 223 255), rgb(29 131 164));
        color: #ffffff;
        padding: 10px 80px;
        border-radius: 10px;
      }
    }
  }
}