/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/img
/public/tmp/*
composer.lock
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.gif
*.GIF
*.svg
*.SVG
*.icon
*.ico
*.csv
*.CSV
*.zip
*.ZIP
messages
*DS_Store